#header #searchForm a {margin:10px 0 0 !important;}
#header .hHelp {background-image:url(../images/_template/h_help.gif);}
#header .hBBoard {background-image:url(../images/_template/h_bboard.gif);}
#header .hWebmail {background-image:url(../images/_template/h_webmail.gif);}
#header .hTrailhead {background-image:url(../images/_template/h_trailhead.gif);}

#header #logo a {background:url(../images/_template/logo.gif) no-repeat 0 0;}