#contentor {margin:-1px 0 0;padding:0;}
.searchBtn {margin:-2px 0 0;padding:2px 4px;}

.homeski #landingMenu {top:-48px;cursor:pointer !important;}
.homeski #landingMenu li {cursor:pointer !important;}